* {
	margin: 0 ;
	padding: 0 ;
}

body {
	font-family: 'Source Sans Pro', sans-serif ;
	color: #3c3c3c;
	line-height: 20px;
}

p {
	padding-bottom: 20px;
}

ul,li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #3c3c3c;
}

a:hover {
	text-decoration: none;
}

img {
	display: block;
 }

.wrap-hidden {
	overflow: hidden;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.space {
	display: block;
	width: 100%;
	height: 100px;
}

.wrap-slide {
 	color: #3c3c3c;
 }

.pagination-line {	
	text-align: center;
	margin-top: 10px;
}

.pagination-line  .line {
 	display: inline-block;
 	height: 4px;
 	width: 37px;
 	background-color: #ebebeb;
 	margin: 9px;
	cursor: pointer;
 }

 .pagination-line-active {
 	background-color: #fdc456 !important;
 }

 .title-highlight {
 	margin-top: 20px;
 	margin-bottom: 10px;
 	text-align: center;
 	position: relative;
 }

 .title-highlight p {
 	text-transform: uppercase;
 	font-size: 30px;
 	font-weight: 700;
 	padding-bottom: 20px;
 	font-family: 'Open Sans', sans-serif;
 }

 .title-highlight p::after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 80px;
	height: 3px;
	background-color: #fdc456;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
 }

 .active-sidebar {

 	background-color: #fdc456;
 }

  .active-sidebar a {
  	 	color: #fff !important;
  }

	.color-test {
		color: red;
		transition: 300ms;
	}


  /*   SLIDER  */

.owl-dots .owl-dot span{
	display: inline-block !important;
 	height: 4px !important;
 	width: 37px !important;
 	background-color: #ebebeb !important;
 	margin: 9px !important;
	cursor: pointer !important;
	border-radius: 0 !important;
	opacity: 1 !important;
}

.owl-dots .active span{
	background: #fdc456 !important;
}